header{
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    z-index: 99;
    box-shadow: 0 0.2rem 0.7rem rgba(#000, 0.1)
}