#carrinho-info{
    display: flex;
    position: relative;
    left: 50px;
    border-top: 50px;
}
.carrinho-modelo{
    display: flex;
    flex-direction : row;
    background-color: aqua;
    
}
.carrinho-detalhes{
    display: flex;
    background-color: yellowgreen;
    list-style-type: none;
    text-align: center;
}
.carrinho-dados{
    display: flex;
    background-color: blueviolet;
    list-style-type: none;
    text-align: center;
}
.carrinho-imagem{
    display: flex;
    width: 200px;
    height: 200px;
}
.carrinho-comprar{
    display: flex;
    flex-direction: column;
}