.minha-conta{
    font-size: 20px;

}
.group-conta-carrinho{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}
.user-container {
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    bottom: 10px;

img{
    width: 50px;
}
}
.conta-wrapper{
    margin-top: 100px;
    margin-left: 50px; 
}
.lista-minha-conta{
    width:  fit-content;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    display:inline-flex;
}
.content-menu-conta{
    flex-direction: column-reverse;
}
.user-info-menu{
    width: 150px;
    margin: 10px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
}
.excluir-conta{
    width: 150px;
    margin: 10px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    text-align: center;
}
.content-info-minha-conta{
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-top: 20px;
    padding-left: 20px;
}

.text-info-user{
    font-size: 15px;
    padding-right: 20px;
}
.content-info-meus-pedidos{
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-top: 20px;
    padding-left: 20px;
}
.minha-conta-display{
    width: 400px;
    height: 400px;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    padding-top: 20px;
    padding-left: 20px;
}
.minha-conta-logout{
    top: 400px;
    padding: 10px;
}
.edit-info-conta{
    bottom: 200px;
}