.modal-container{
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    display: none;
    align-items: center;
    justify-content: center;
}

.modal-container.is-active{
    display: flex;
}

.modal{
    width: 80%;
    background-color: white;
    padding: 20px;
    border-top: 6px solid #a6ce39;
    position: relative;
}

@media (min-width: 1200px) {
    .modal{
        width: 30%;
        padding: 30px;
    }
}

.modal-content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal .close-modal{
    position: absolute;
    width: 44px;
    height: 44px;
    top: -25px;
    right: -15px;
    font-size: 16px;
    border: 0;
    font-weight: 700;
    background-color: #a6ce39;
    transition: all .2s ease-in-out;
    color: #fff;
}

.modal-content i{
    margin-bottom: 10px;
    color: #a6ce39;
    font-size: 100px;
}

.modal-content h3{
    font-size: 30px;
    margin-bottom: 40px;
    text-align: center;
}

.modal-content small{
    margin-bottom: 20px;
    font-size: 16px;
}

.modal-content span{
    margin-left: 10px;
    color: red;
    font-weight:700;
}