.page-products-categorys{
    .add-container{
        margin-bottom: 50px;
        display: flex;
        justify-content: center;

        form{
            display: flex;
            align-items: flex-end;
        }

        .input-item{
            display: flex;
            flex-direction: column;
            margin-right: 5px;

            input{
                padding: 10px;
            }
        }
    }
}

.search{
    text-align: center;
    margin-bottom: 40px;

    input[type="text"]{
        padding: 10px;
        width: 300px;
    }

    input[type="submit"]{
        padding: 10px;
    }
}

.send{
    all: unset;
    background-color: #006DD2;
    color: #ffff;
    padding: 10px;
}

.button-remove, .button-add{
    background-color: #006DD2;
    color: #fff;
    border: 0;
    font-weight: 700;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.button-remove{
    background-color: red;
    margin-right: 20px;
}

.result-item{
    margin-bottom: 20px;

    .content__buttons, .content__description, .item__content{
        display: flex;
        align-items: center;
    }

    .content__description{
        small, p{
            margin-right: 20px;
            font-size: 20px;
        }

        small{
            font-weight: bold;

            &:nth-child(1){
                color: #006DD2;
            }
        }
    }
}